    <footer class="bg-dark text-white py-4">
      <div class="container text-center mb-3">
        {{ site.description }}
      </div>
      <div class="container text-center mb-3 text-uppercase fw-bold">
        {{ site.slogan }}
      </div>
      <div class="container text-center">
        &copy; 2010-{{ site.time | date: "%Y" }} Xandermar LLC | All Rights Reserved
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>